#titulo {
	text-align:center;
	background-color: white;
	padding-top: 5vw;
	padding-bottom: 5vw;
	color: rgb(13, 16, 48);
	font-size: calc(1em + 4.5vw);
}
h1{
	text-align: center;
}
body{
	background-color: rgb(15, 80, 141);
}

.card-img {
	border: 2px solid  rgb(13, 16, 48);
}
#card-body{
	border: 2px solid  rgb(13, 16, 48);
	background-color: rgba(207, 207, 207, 0.055);
}
.nav-item .active{
	border-bottom: 2px solid #ccc;
}

.card-title{

	font-family:'Varela Round', sans-serif;
	color:#ff8000;
	font-size: 40px;
	border-bottom: 2px dotted #bbb;
}

